/*Resources specific css*/
h2{
    text-align:center;
}

.maincontainer{
    min-height:88.15vh;
    padding-top:2rem;
}

.flexcontainer{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.flexcontainer div{
    width:320px;
    height:400px;
    margin:10px 10px 20px 10px;
    /*border:1px solid black;*/
    border-top:5px solid #c32222;
}

.flexcontainer img{
    display:block;
    width:100%;
    overflow:hidden;
    text-align:center;
    margin:0 auto;
    border-bottom:2px solid #c32222;
}

.category{
    display:flex;
    align-items:center;
}

.category h2{
    font-size:2.1em;
    text-decoration:underline;
    height:initial;
    width:80%;
    margin:0 auto;
    border-bottom:0;
}

.flexcontainer h2{
    padding:0.2em 0.3em 0 0.3em;
}

.maincontainer p{
    padding:0 0.5em 0.5em 0.5em;
    text-align:justify;
    overflow:hidden;
}

.maincontainer a{
    color:black;
    text-decoration: none;
}

/*Tablets AND mobiles*/
@media only screen and (max-width:840px){
    .flexcontainer div{
        height:initial;
        max-height:400px;
        min-height:200px;
    }
}
