h2{
    text-align: left; 
    padding-bottom: 0.5rem;
}

.maincontainer div{
    display: flex;
}

.maincontainer img{
    width: 250px; 
    margin: 0 0.5em 0.5em 0.5em;
}

.date{
    float: right;
}

@media only screen and (max-width:600px) {
    .maincontainer img{
        display: none;
    }
}

