<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/jpg" href="/images/logo/favicon.png"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link href="/css/admin.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro|Lato:400,700|Merriweather:400,400i&display=swap" rel="stylesheet">
    <title>ADMIN | danieldoescocktails</title>
</head>
<body>

    <nav>
        <ul>
            <li id='navlogoContainer'>
                <img src='/images/logo/Dan_Does_Cocktails_Light_Shadow_Small.jpg' alt='danieldoescocktails' id='navlogo'>
            </li>
        </ul>
    </nav>

    <div class="indexHeading">
        <h1>{{ status_heading }}</h1>
        <img src='/images/logo/Dan_Does_Cocktails_Martini.png'/>
        <p class="{{ status_style_class }}">{{ status_text }}</p>
    </div>

    <div class="indexChoices">
        <a href=".">To Crud</a>
        <a href="/">To Root</a>
    </div>

</body>
</html>
