/*Cabinet specific CSS*/

/*tables*/
td img{
    width:250px;
    height:250px;
    margin-right:30px;
}

.itembox{
    display:flex;
    flex-direction:column;
}

#liqueursEtc tr{
    border: none;
}

.moreButton{
    border-top: 5px #c32222 solid;
}

/*misc*/
.intro{
    text-align:center;
    margin:4rem 0 1rem 0;
}

@media only screen and (max-width:600px){

    .imagebox{
        width:100%;
    }

    p, em{
        margin:0 0.5em;
    }

    td h2, h3, th{
        text-align:center;
    }
    
    td img{
        text-align:center;
        width:90%;
        height:90%;
        margin:0 5% 10px 5%;
    }

}